In [1]:
print("hello world")

hello world

In [2]:
x = 1
y= 1.5
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [9]:
x = "1234"
z = "komal chougule"
print(x,z)

1234 komal chougule

In [15]:
a = str(2)
e = int(1)
print(a,e)

2 1

In [16]:
a,b,c ="komal","mallesh","chougule"
print(a)
print(b)

komal
mallesh

In [20]:
a=b=c="komal,mallesh,chougule"
print(a)
print(b)
print(c)

komal,mallesh,chougule
komal,mallesh,chougule
komal,mallesh,chougule

In [22]:
#addition of 2 numbers
a = 20
b = 5
print(a+b)

25

In [23]:
#subtraction of 2 numbers
a = 20
b = 5
print(a-b)

15

In [28]:
#uppercase
txt = 'age of'
x = txt.upper()
print(x)

AGE OF

In [29]:
#lowercase
a = 'KOMAL CHOUGULE'
x = a.lower()
print(x)

komal chougule

In [30]:
x = "NAME OF THE STUDENT"
y = " age of student"

a = x.lower()
b = y.upper()

print(a)
print(b)

name of the student
 AGE OF STUDENT

In [73]:
#global variables
a = "komal chougule"

def myfunc(a):
    return ("Introduction of " +  a)
        
myfunc(a)

'Introduction of komal chougule'

In [74]:
def myfunc():
    global x
    a = 123
myfunc()
print("x can be used a global", a)

x can be used a global komal chougule

In [44]:
# data types numbers
a = 1234
b = 2+1j
c = 2.90

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'complex'>
<class 'float'>

In [49]:
# data types numbers
a = 1234
b = 2-1j
c = 2.90

#convert int to float
x = float(a)

#convert float to int
y = int(c)

#convert int to complex
z = complex(b)

print(x)
print(y)
print(z)

print(type(a))
print(type(b))
print(type(c))

1234.0
2
(2-1j)
<class 'int'>
<class 'complex'>
<class 'float'>

In [58]:
#random numbers
import random

print(random.randrange(1,1000))

972

In [52]:
#data types= strings
x = "NAME OF SCHOOL"

a = x.upper()
print(a)
print(type(a))

NAME OF SCHOOL
<class 'str'>

In [54]:
#data types numbers
x = 20
y = 30.0
z = 25-1j

print(type(x))
print(type(y))
print(type(z))

import random

print(random.randrange(1,100))

<class 'int'>
<class 'float'>
<class 'complex'>
89

In [56]:
a = int(2.9)
b = int(1.34)

print(a)
print(b)

2
1

In [57]:
a = str("komal chougule")
b = str (1.23)

print(a)
print(b)

komal chougule
1.23

In [63]:
#strings are arrays
a ="komal mallesh chougule"
print(a[7])

a

In [105]:
x = "1"

def myfunc():
  x = "2"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is 2
Python is 1

In [101]:
x = 2
y = 3
print(x+y)

5

In [118]:
def sub(x):
    x=1
  
sub(x)

print("sub",x)

sub 1

In [133]:
def numbers(a,b):
    return (a*b, a-b, a*b, a/b)
a = 2
b= 2
print(numbers(a,b))

(4, 0, 4, 1.0)

In [146]:
def name(x):
    return(x[10])
x ="komal chougule"
print(name(x))

g

In [157]:
a ="mallesh"
def name(a):
    b="orange"
    return(b)
  
(name(a))

'orange'

In [172]:
a = 4
b = 3
def komal(a,b):
    add = a+b
    sub = add - b
    return(sub)
komal(a,b)

4

In [3]:
a = 2
b = 2
def som():
    formula=(a**2 + b**2 + 2*a*b)
    return(formula)
som()

16

In [4]:
som()

16